body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
header {
  display: flex;
  width: 100%;
}
.content {
  flex-basis: 50%;
  transform: translate(10%, 0%);
}
.content img {
  height: 5.18rem;
  width: 6.68rem;
  top: 33px;
  left: 6.1rem;
}
.content h1 {
  font-size: 4rem;
  line-height: 4.2rem;
  color: #0e2368;
}
.content h1 span {
  color: red;
}
.image img {
  background-position: top 50%;
  width: 46rem;
  height: 50rem;
  border-bottom-left-radius: 100px;
  position: relative;
}
.image #image1 {
  position: absolute;
  z-index: 99;
  top: 0rem;
  right: 0rem;
}
header .image a {
  position: absolute;
  right: 1.25rem;
  top: 30px;
  z-index: 99;
  background: transparent;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid white;
  color: #fff;
}
btn {
  background-color: #e23744;
}

.heading {
  color: #0e2368;
  width: 100%;
  margin: 5rem;
}
img {
  border-radius: 21px;
}
#box {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border: none;
  justify-content: space-between;
}
.relative {
  padding: 1.5rem;
  margin: auto;
  border: 1px solid #93a2d3;
  border-radius: 20.94px;
  margin-bottom: 2rem;
}
.head {
  color: #0e2368;
  padding-left: 1rem;
  font-weight: bold;
}
.text {
  padding-left: 1rem;
}
.button {
  border: 1px solid #424961;
  border-radius: 6rem;
  display: inline-block;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

.great {
  display: flex;
}

/* abt */

.outeraboutus {
  width: 90rem;
  height: 41rem;
  /* top: 50rem; */
  background-color: white;
}
.inneraboutus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px 0px;
  background: linear-gradient(
    90.07deg,
    rgba(30, 42, 93, 0.04) 30.91%,
    rgba(48, 62, 130, 0.04) 64.79%,
    rgba(60, 80, 157, 0.04) 91.94%
  );
}
.leftbox img {
  width: 24rem;
  height: 30rem;
  margin: auto;
}
.rightbox {
  width: 447px;
  height: 254px;
  padding: 3rem;
}
.rightbox h2 {
  margin-bottom: 0.5rem;
  color: #0e2368;
  font-size: 2rem;
  font-style: "poppins";
  font-weight: 600;
}
.rightbox p {
  margin-bottom: 0.9rem;
}
.btn {
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 8px 20px;
  background: #e23744;
  color: white;
  border: none;
}
.footer img {
  width: 10rem;
  height: 7.8rem;
}
.footer {
  display: flex;
  justify-content: space-around;
  background: #f8f8f8;
  margin-top: 40px;
}
.footer ul li {
  list-style: none;
  padding: 5px 0;

  color: #646874;
}
.footer ul h2 {
  padding: 8px 0;
  color: #0e2368;
  font-family: sans-serif;
}
.sociallink {
  display: flex;
  justify-content: space-evenly;
}
.footer ul li i {
  color: #0e2368;
}
